<h1>New</h1>

<% form_for @site do |f| %>
<p>    <%= f.label :name, 'Name' %>:
    <%= f.text_field :name %>
</p>
<p>    <%= f.label :url, 'Url' %>:
    <%= f.text_field :url %>
</p>    
<p>    <%= f.label :description, 'Description' %>:
    <%= f.text_area :description %>
</p>    
    <%= submit_tag 'Create' %>
  <% end %>